#ic_sign {
    position: absolute;
    margin-top: 10px;
    margin-right: 10px;
    top:0;
    right:0;
}
#ic_mypage {
    position: absolute;
    margin-top: 9px;
    margin-right: 9px;
    top:0;
    right:0;
}