<div class="col1 border_bottom white_bg" style="position: fixed; top:0; left: 0;z-index:999;">
  <div class="header live_area space_between">
    <div class="app_bar">
      <div id="ic_menu">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <img src="assets/img/logo_dark.svg" style="margin-left: -12px" tabindex="0">
      <div class="button_s primary_border flex_center caption regular primary300" id="ic_sign"> SIGN UP </div>
    </div>
    <div class="slide_menu align_center space_between col1">
      <div class="menu_list align_center">
        <img id="header_logo" src="assets/img/logo_dark.svg" tabindex="0">
        <div class="header_menu body bold" tabindex="0"> Article </div>
        <div class="header_menu body bold" tabindex="0"> Request </div>
        <div class="header_menu body bold" tabindex="0"> Dance Cover </div>
        <div class="header_menu body bold" tabindex="0" (click)="gotoHome()"> Rept. Crew </div>
        <div class="header_menu body bold" tabindex="0" [routerLink]="'/community'"> Community </div>
      </div>
      <div class="menu_list align_center">
        <p class="caption black_300 regular col1 text_center margin_1x_bottom only_mobile">please select your language</p>
        <select class="select caption black_600 ng-untouched ng-pristine ng-valid" id="select_lang">
          <option value="en"> Eng </option>
          <option value="ko"> Kor </option>
        </select>
        <div class="menu_list align_center" id="signup_menu">
          <div class="header_menu">
            <div class="button_r regular capital caption primary400_bg white_hightlight" (click)="modalType='signup'"> Sign up </div>
          </div>
          <div class="header_menu caption">
            <div class="button_r regular capital caption light_border" (click)="modalType='signin'"> Sign in </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal-template *ngIf="modalType!=='none'"></app-modal-template>