<div class="live_area">
  <div class="col1 flex_row top_section" *ngIf="apis.homeArticle !== undefined">
    <div class="col_50 col1_mobile top_article">
      <div class="card img_filter_grd col1 flex_col img_bg" [style.background-image]="'url(getImageSourceByCoverId(1))'">
        <div class="flex_col justify_end col1 big_card_top pd_2x_hor">
          <div class="flex_row flex_center primary400 regular small capital" style="position: absolute; top:8px; left:0; width: 68px; height: 24px; letter-spacing: 0.5px; background-image: url('/assets/img/shape/sp_mark_white.svg')"> NEWS </div>
          <p class="title white_hightlight bold middle_title textshadow"> Title </p>
        </div>
        <div class="col1 pd_2x" style="padding-top:0px">
          <div class="col1 flex_row space_between margin_1x_top">
            <div class="flex_row align_center">
              <div class="profile_regular" style="background-image: url('../../assets/img/ic/ic_account_black100.svg')"></div>
              <p class="white_hightlight caption regular margin_1x_left">
                 by 
                <span class="medium"></span>
              </p>
            </div>
            <div class="flex_row align_center">
              <img class="ic_small" src="/assets/img/ic/ic_view_white.svg">
              <p class="white_hightlight caption regular margin_1x_left"> 0 </p>
              <img class="ic_small margin_2x_left" src="/assets/img/ic/ic_comment_white.svg">
              <p class="white_hightlight caption regular margin_1x_left"> 0 </p>
            </div>
            <div class="col1 margin_1x_top comment_container">
              <div class="flex_row align_center col1 comment space_between" style="margin-bottom: 16px">
                <div class="profile_small profile_k white_bg"></div>
                <div class="flex_row align_center regular black_300 small pd_tiny_hor" style="width:calc(100% - 36px)"> no comment yet. please join!</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col_25 col1_mobile top_article">
      <div class="card col1 flex_col">
        <div class="big_card_top">
          <div class="col1 img_bg big_card_thumb"></div>
          <div class="flex_row pd_2x_hor margin_1x_top col1 space_between">
            <span class="primary400 medium small capital"> NEWS </span>
            <span class="black_300 regular small">Date</span>
          </div>
          <p class="title bold small_title pd_2x_hor margin_1x_top">Title</p>
        </div>
        <div class="pd_2x" style="padding-top:0px;">
          <div class="col1 flex_row space_between margin_1x_top">
            <div class="flex_row align_center">
              <div class="profile_regular" style="background-image: url('../../assets/img/ic/ic_account_black100.svg')"></div>
              <p class="black_600 caption regular margin_1x_left">
                 by 
                <span class="medium"></span>
              </p>
            </div>
            <div class="flex_row align_center">
              <img class="ic_small" src="/assets/img/ic/ic_view_middle.svg">
              <p class="black_300 caption regular margin_1x_left"> 0 </p>
              <img class="ic_small margin_2x_left" src="/assets/img/ic/ic_comment_middle.svg">
              <p class="black_300 caption regular margin_1x_left"> 0 </p>
            </div>
            <div class="col1 margin_1x_top comment_container">
              <div class="flex_row align_center col1 comment space_between" style="margin-bottom: 16px">
                <div class="profile_small profile_k white_bg"></div>
                <div class="flex_row align_center regular black_300 small pd_tiny_hor" style="width:calc(100% - 36px)"> no comment yet. please join!</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col_25 col1_mobile top_article">
      <div class="card col1 flex_col">
        <div class="flex_col pd_2x_hor big_card_top" style="position: relative">
          <div class="flex_col col1 flex_center big_card_thumb align_center"></div>
          <div class="flex_row margin_1x_top col1 space_between">
            <span class="primary400 medium small capital"> REQUEST </span>
            <span class="black_300 regular small">Date</span>
          </div>
          <div class="flex_row col1 space_between margin_1x_top capital">
            <div class="button_s light_border small regular primary400">
              <img src="/assets/img/ic/ic_pending.svg">
               ONGOING 
            </div>
            <div class="button_s primary400 small regular">Vote</div>
          </div>
        </div>
        <div class="pd_2x" style="padding-top:0px;">
          <div class="col1 flex_row space_between margin_1x_top">
            <div class="flex_row align_center">
              <div class="profile_regular" style="background-image: url('../../assets/img/ic/ic_account_black100.svg')"></div>
              <p class="black_600 caption regular margin_1x_left">
                 by 
                <span class="medium"></span>
              </p>
            </div>
            <div class="flex_row align_center">
              <img class="ic_small" src="/assets/img/ic/ic_view_middle.svg">
              <p class="black_300 caption regular margin_1x_left"> 0 </p>
              <img class="ic_small margin_2x_left" src="/assets/img/ic/ic_comment_middle.svg">
              <p class="black_300 caption regular margin_1x_left"> 0 </p>
            </div>
            <div class="col1 margin_1x_top comment_container">
              <div class="flex_row align_center col1 comment space_between" style="margin-bottom: 16px">
                <div class="profile_small profile_k white_bg"></div>
                <div class="flex_row align_center regular black_300 small pd_tiny_hor" style="width:calc(100% - 36px)"> no comment yet. please join!</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile_column" *ngIf="apis.allArticle !== undefined">
    <h1 class="small_title light margin_3x_bottom"> LATEST ARTICLE </h1>
    <div class="col1 flex_row_col margin_8x_bottom">
      <div class="col4_pd_1x grid_to_list margin_2x_bottom" style="margin-right: 16px;">
        <div class="col1 flex_col light_border card" style="border-radius: 2px; overflow: hidden">
          <div class="regular_card_top">
            <div class="col1 img_bg" style="height: 124px; position: relative;"></div>
            <div class=""></div>
            <div class="flex_row pd_2x_hor margin_1x_top col1 space_between">
              <span class="primary400 medium small capital"> NEWS </span>
              <span class="black_300 regular small">Date</span>
            </div>
            <p class="title medium small_title pd_2x_hor margin_tiny_top">Title</p>
          </div>
          <div class="pd_2x" style="padding-top:0px; padding-bottom: 0px">
            <div class="col1 flex_row space_between margin_1x_top">
              <div class="flex_row align_center">
                <div class="profile_regular" style="background-image: url('../../assets/img/ic/ic_account_black100.svg')"></div>
                <p class="black_600 caption regular margin_1x_left">
                  by 
                  <span class="medium"></span>
                </p>
              </div>
              <div class="flex_row align_center">
                <img class="ic_small" src="/assets/img/ic/ic_view_middle.svg">
                <p class="black_300 caption regular margin_1x_left"> 0 </p>
                <img class="ic_small margin_2x_left" src="/assets/img/ic/ic_comment_middle.svg">
                <p class="black_300 caption regular margin_1x_left"> 0 </p>
              </div>
              <div class="col1 margin_1x_top comment_container">
                <div class="flex_row align_center col1 comment space_between" style="margin-bottom: 16px">
                  <div class="profile_small profile_k white_bg"></div>
                  <div class="flex_row align_center regular black_300 small pd_tiny_hor" style="width:calc(100% - 36px)"> no comment yet. please join!</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>