<div class="flex_col col1 height100">
    <div class="flex_row col1">
        <div class="tab col2 caption regular" [ngClass]="signType === 'signup' ? 'tab_selected primary400' : 'black_600'" (click)="setSignType('signup')"> SIGN UP </div>
        <div class="tab col2 caption regular" [ngClass]="signType === 'signin' ? 'tab_selected primary400' : 'black_600'" (click)="setSignType('signin')"> SIGN IN </div>
    </div>
    <div class="flex_col col1 pd_4x tab_content tab_content">
        <div *ngIf="signType === 'signup'; then signupTemplate else signinTemplate"></div>
        <ng-template #signupTemplate>
            <form [formGroup]="signupForm" class="flex_col col1 ng-untouched ng-pristine ng-valid" (ngSubmit)="signup()" novalidate>
                <p class="caption capital medium black_600">
                    <span class="primary400">*</span>
                    E-mail
                </p>
                <input class="textfield body regular black_900 margin_1x_top margin_2x_bottom ng-untouched ng-pristine ng-valid" formControlName="email" type="text">
                <div *ngIf="signupForm.controls['email'].hasError('required') && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched)" style="color:red;margin-bottom: 16px;">This field is required</div>
                <div *ngIf="signupForm.controls['email'].hasError('email') && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched)" style="color:red;margin-bottom: 16px;">This field must be a valid email address</div>
                <p class="caption capital medium black_600">
                    <span class="primary400">*</span>
                    Username
                </p>
                <input class="textfield body regular black_900 margin_1x_top margin_2x_bottom ng-untouched ng-pristine ng-valid" formControlName="username" type="text">
                <div *ngIf="signupForm.controls['username'].hasError('required') && (signupForm.controls['username'].dirty || signupForm.controls['username'].touched)" style="color:red;margin-bottom: 16px;">This field is required</div>
                <p class="caption capital medium black_600">
                    <span class="primary400">*</span>
                    Password
                </p>
                <input class="textfield body regular black_900 margin_1x_top margin_2x_bottom ng-untouched ng-pristine ng-valid" formControlName="password" type="password">
                <div *ngIf="signupForm.controls['password'].hasError('required') && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched)" style="color:red;margin-bottom: 16px;">This field is required</div>
                <p class="caption capital medium black_600">
                    <span class="primary400">*</span>
                    Password confirm
                </p>
                <input class="textfield body regular black_900 margin_1x_top margin_2x_bottom ng-untouched ng-pristine ng-valid" formControlName="passwordConfirm" type="password">
                <div *ngIf="signupForm.controls['passwordConfirm'].hasError('required') && (signupForm.controls['passwordConfirm'].dirty || signupForm.controls['passwordConfirm'].touched)" style="color:red;margin-bottom: 16px;">This field is required</div>
                <p class="body text_center margin_2x_top margin_1x_bottom medium black_300 pd_2x col1 border_top">Optional</p>
                <div class="flex_row space_between col1">
                    <div class="col2">
                        <p class="caption capital medium black_600">Birth Year</p>
                        <select class="select caption margin_2x_bottom col1 margin_1x_top ng-untouched ng-pristine ng-valid" name="birthYeaer">
                            <option>2020</option>
                        </select>
                    </div>
                    <div class="col2">
                        <p class="caption capital medium black_600">Gender</p>
                        <select class="select caption margin_2x_bottom col1 margin_1x_top ng-untouched ng-pristine ng-valid" name="gender">
                            <option value="M"> male </option>
                            <option value="F"> female </option>
                        </select>
                    </div>
                </div>
                <p class="caption capital medium black_600">Country . City</p>
                <div class="flex_row col1 space_between margin_4x_bottom border_bottom pd_2x_bottom margin_1x_top">
                    <select class="select col2 caption ng-untouched ng-pristine ng-valid" name="country">
                        <option disabled selected>Select your option</option>
                    </select>
                    <select class="select col2 caption ng-untouched ng-pristine ng-valid" name="city"></select>
                </div>
                <div class="flex_row align_center margin_1x_bottom space_between col1 caption regular">
                    <label class="container flex_row caption align_center black_600 margin_1x_left">
                        <span style="margin-top: 4px;">Agree All</span>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="flex_row align_center margin_1x_bottom space_between col1 caption regular">
                    <label class="container flex_row caption align_center black_600 margin_1x_left">
                        <span style="margin-top: 4px;">Agree terms of service</span>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <a class="darkblue medium" [routerLink]="'/docs/access'" [routerLinkActive]="'true'" style="margin-top: 4px; margin-bottom:12px;" target="_blank" href="#/docs/access"> see detail </a>
                </div>
                <div class="flex_row align_center margin_1x_bottom space_between col1 caption regular">
                    <label class="container flex_row caption align_center black_600 margin_1x_left">
                        <span style="margin-top: 4px;">Agree terms of service</span>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <a class="darkblue medium" [routerLink]="'/docs/privacy'" [routerLinkActive]="'true'" style="margin-top: 4px; margin-bottom:12px;" target="_blank" href="#/docs/privacy"> see detail </a>
                </div>
                <div class="flex_row align_center margin_1x_bottom space_between col1 caption regular">
                    <label class="container flex_row caption align_center black_600 margin_1x_left">
                        <span style="margin-top: 4px;">Location based service terms</span>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <a class="darkblue medium" [routerLink]="'/docs/location-terms'" [routerLinkActive]="'true'" style="margin-top: 4px; margin-bottom:12px;" target="_blank" href="#/docs/location-terms"> see detail </a>
                </div>
                <input class="button_r body medium primary400_bg white_hightlight caption margin_4x_bottom" type="submit" value="SIGN UP" style="border: none;"
                    [disabled]="signupForm.controls['username'].hasError('required') || signupForm.controls['password'].hasError('required')"> 
                <p class="caption capital medium lightblue text_center margin_8x_bottom" style="cursor: pointer">Send Verifcation Email Again</p>
            </form>
        </ng-template>
        
        <ng-template #signinTemplate>
            <form [formGroup]="signinForm" class="flex_col col1 ng-untouched ng-pristine ng-valid" (ngSubmit)="signin()" novalidate>
                <p class="caption capital medium black_600">E-mail</p>
                <input class="textfield body regular black_900 margin_1x_top margin_2x_bottom ng-untouched ng-pristine ng-valid" formControlName="username" type="text">
                <div *ngIf="signinForm.controls['username'].hasError('required') && (signinForm.controls['username'].dirty || signinForm.controls['username'].touched)" style="color:red;margin-bottom: 16px;">This field is required</div>
                <p class="caption capital medium black_600">Password</p>
                <input class="textfield body regular black_900 margin_1x_top margin_2x_bottom ng-untouched ng-pristine ng-valid" formControlName="password" type="password">
                <div *ngIf="signinForm.controls['password'].hasError('required') && (signinForm.controls['password'].dirty || signinForm.controls['password'].touched)" style="color:red;margin-bottom: 16px;">This field is required</div>
                <input class="button_r body medium primary400_bg white_hightlight caption margin_4x_bottom" type="submit" value="SIGN IN" style="border: none;"
                    [disabled]="signinForm.controls['username'].hasError('required') || signinForm.controls['password'].hasError('required')"> 
                <p class="caption capital medium lightblue text_center margin_8x_bottom" style="cursor: pointer">Forgot password?</p>
            </form>
        </ng-template>
        
        <div class="flex_col flex_center col1 border_top">
            <p class="body regular black_900 margin_2x_top margin_1x_bottom">or connect with</p>
            <div class="flex_row justify_center">
                <a href="https://catchk.net/oauth2/authorization/facebook">
                    <img class="ic_48px margin_1x_right" src="/assets/img/ic/social/ic_fb_dark.svg">
                </a>
                <a href="https://catchk.net/twitter/login">
                    <img class="ic_48px margin_1x_right" src="/assets/img/ic/social/ic_twitter_dark.svg">
                </a>
                <a href="https://catchk.net/oauth2/authorization/google">
                    <img class="ic_48px" src="/assets/img/ic/social/ic_google_dark.svg">
                </a>
            </div>
        </div>
    </div>
</div>