<app-header></app-header>
<div class="col1 routing_area">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="col1 darkblue_bg">
    <div class="live_area footer">
      <div class="flex_row_col mobile_column space_between">
        <div class="col2_1">
          <div class="flex_row align_center">
            <div class="footer_menu medium col1_mobile margin_2x_right" style="border: none;">
              <img src="../../../assets/img/logo_light.svg">
            </div>
            <div class="footer_menu medium body white_hightlight regular margin_2x_right" tabindex="0"> Article </div>
            <div class="footer_menu medium body white_hightlight regular margin_2x_right" tabindex="0"> Request </div>
            <div class="footer_menu medium body white_hightlight regular margin_2x_right" tabindex="0"> Dance Cover </div>
            <div class="footer_menu medium body white_hightlight regular margin_2x_right" style="border: none !important;" tabindex="0"> Rept. Crew </div>
          </div>
        </div>
        <div class="flex_row body regular margin_2x_bottom col1 white_hightlight">
          <p class="footer_menu medium margin_1x_bottom margin_2x_right" style="padding-left:0" tabindex="0"> About us </p>
          <p class="footer_menu medium margin_1x_bottom margin_2x_right" tabindex="0"> Reception Report </p>
          <p class="footer_menu medium margin_1x_bottom margin_2x_right" tabindex="0"> Advertising </p>
          <p class="footer_menu medium margin_1x_bottom margin_2x_right" tabindex="0"> Acess Terms </p>
          <p class="footer_menu medium margin_1x_bottom margin_2x_right" tabindex="0"> Reporter Terms </p>
          <p class="footer_menu medium margin_1x_bottom margin_2x_right" tabindex="0"> Privacy Statement </p>
          <p class="footer_menu medium margin_1x_bottom margin_2x_right" tabindex="0"> Youth Protection Act </p>
          <p class="footer_menu medium margin_1x_bottom margin_2x_right" tabindex="0"> Copyright Protection Act </p>
          <p class="footer_menu medium margin_1x_bottom margin_2x_right" style="border: none;" tabindex="0"> Email Address Privacy Guidelines </p>
        </div>
        <div class="flex_row body regular margin_2x_bottom col1 white_hightlight">
          <p class="footer_info margin_1x_bottom margin_2x_right" style="padding-left:0"> Title: catchK </p>
          <p class="footer_info"> Seoul Yeongdeungpo kyonginro 775, 4-442 </p>
          <p class="footer_info"> Company Name : Nopaman Co., Ltd. </p>
          <p class="footer_info"> Registration Number : Seoul, Ah 52995 </p>
          <p class="footer_info"> Publication Date: 2020-05-01 </p>
          <p class="footer_info"> Youth Protection Manager: Sim Jaechul </p>
          <p class="footer_info"> Publisher·Editor: Oh Youngju </p>
          <p class="footer_info col1"> catchK © 2020. All Rights Reserved. </p>
        </div>
      </div>
    </div>
  </div>
</footer>