.footer {
    padding:48px 0
}
.footer_menu {
    cursor:pointer;
    opacity:.86;
    margin-top:24px;
    margin-bottom:24px;
    height:14px;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    padding-right:16px;
    border-right:.5px solid #f0f0f0
}
.footer_menu:hover {
    opacity:1
}
.footer_info {
    margin-bottom:0;
    margin-right:8px;
    color:#c0cfd0;
    font-size:12.8px;
    line-height:18.6px
}
#footer_buttons > .button_r {
    width:180px;
    margin-right:16px;
}
#social {
    margin-top:0
}
#social > div > img {
    margin-right:16px;
}
#social_icons {
    margin-top:16px;
}
@media screen and (max-width:480px) {
    #social {
        margin-top:16px;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-direction:column;
        flex-direction:column;
        -ms-flex-align:center;
        align-items:center;
    }
    #footer_buttons {
        margin-bottom:32px;
    }
    #footer_buttons > .button_r {
        width:100%;
        margin-right:0;
        margin-top:16px;
    }
    .footer_menu {
        margin-top:24px;
        margin-bottom:24px;
        padding-right:8px;
        margin-right:8px;
    }
    #social_icons {
        -ms-flex-pack:center;
        justify-content:center;
    }
    #social > div > img {
        margin-left:16px;
        margin-right:16px;
    }
}