<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="username">Username</label>
        <input type="text" formControlName="username" #username pattern="[a-zA-z0-9]{4,10}" required />
        <p>{{ loginForm.controls["username"].errors | json }}</p>
        <p>{{ loginForm.controls["username"].invalid }}</p>
        <p>{{ loginForm.controls["username"].dirty }}</p>
        <p>{{ loginForm.controls["username"].touched }}</p>
        <p>{{ loginForm.controls["username"].pristine }}</p>
        <div *ngIf="submitted" style="color: red;">
            <div>Username is required</div>
        </div>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" formControlName="password" />
    </div>
    <div>
        <button>
            <span>Login</span>
        </button>
    </div>
</form>
<div *ngIf="checkAuth()">
    <div>
        입력된 사용자이름은 <strong>{{ loginUsername }}</strong>
    </div>
    <div>
        입력된 패스워드는 <strong>{{ loginPassword }}</strong>
    </div>
</div>